#hobbies{
 border-radius:50%;
  width:300px;
 height:200px;
  border:5px solid ;
 padding:3px;
    margin-top:150px;
    margin-bottom:50px;
}
#Many{
  color:black;
font-family: 'Rampart One', cursive;
font-size:80px;
  text-align:center;
  border: 3px dashed;
    color: #ffd78c;
    border-color: #fdffeb;
    margin-top:0px;
}
#coding{
  font-size:20px;
  text-align:left;
  margin-left:30px;
    font-family: 'Gluten',cursive;
}
#hobby{
 background:linear-gradient(#F48FB1,#90CAF9);
  text-align:center;
 margin:0%;
  align-content:center;
}

#menu{
  list-style:none;
  display:table;
 text-align:center;
  cursor:pointer;
  position: fixed;
  align-self:center;
    text-decoration: none;

}

.link{
  float:left;
 margin:25px;
  font-size:30px;
  text-align:center;
  padding:20px;
  font-weight:bolder;
    font-family: 'Gluten', cursive;
  
}

.link:hover{
 background-color:#ffca7a;
}

.Things{
    font-family: 'Courgette', cursive;
    font-size:30px;
    text-decoration:none;
    color:blue;
}
.Thinks:hover{
    color:fuchsia;
}
p{
    font-size:25;
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size:35px;
}
#Contacts{
    background-color:red;
    text-decoration: none;
}
body{
    text-align: center;
}
